<div class="container">
    <div class="row">
        <div class="col col-1">
            <h1>Page title</h1>
            <h2>Page author</h2>
        </div>
    </div>
    <div class="row">
        <div class="col col-1">
            <ul class="menu top-menu">
                <li>
                    <h2>Image 1</h2>
                </li>
                <li>
                    <h2>Image 2</h2>
                </li>
                <li>
                    <h2>Image 3</h2>
                </li>
                <li>
                    <h2>Image 4</h2>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col col-1">
            <ul class="menu top-menu">
                <li>
                    <img src="~/Content/img/img1.jpg" />
                </li>
                <li>
                    <img src="~/Content/img/img2.jpg" />
                </li>
                <li>
                    <img src="~/Content/img/img3.jpg" />
                </li>
                <li>
                    <img src="~/Content/img/img4.jpg" />
                </li>
            </ul>
        </div>
    </div>
</div>